@keyframes fade-slide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-wrapper {
  animation: fade-slide 0.4s ease-out;
  display: flex;
  position: fixed;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dbd2bc80;
  width: 100vw;
  height: 100vh;
}

.popup {
  position: fixed;
  background: #dbd2bc;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.popup-content {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
  gap: 20px;
}

.option {
  flex: 1;
  border: none;
  border-radius: 20px;
  background: #f8f5f0;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    background-color: #a99985;
  }
}

.option.selected {
  background-color: #a99985;
  color: #f5f1ed;
}

.confirm {
  margin-top: 20px;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #5a4e3f;
  color: #f5f1ed;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    box-shadow: 2px 2px 2px #5a4e3f80;
  }
}

.confirm:disabled {
  background: #a99985;
  cursor: not-allowed;
}

.close {
  position: absolute;
  top: 4px;
  right: 4px;
  background: none;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
}
  
  .option.selected {
    background: #5a4e3f;
    color: white;
  }
  
  
 
